@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: rgb(61, 229, 52);
  --color-secondary: rgb(238, 255, 0);
  --color-secondary-transparent: rgba(238, 255, 0, 0.2);
  --color-white: rgb(255, 255, 255);
  --color-gray-light: rgb(204, 204, 204);
  --color-gray: rgb(135, 136, 137);
  --color-dark-light: rgb(77, 77, 77);
  --color-dark: rgb(31, 31, 31);
  --color-darker: rgb(24, 24, 24);
  --color-darkest: rgb(21, 21, 21);
  --color-bg-primary: var(--color-darkest);
  --color-bg-secondary: var(--color-darker);
  --color-text-primary: var(--color-white);
  --color-text-secondary: var(--color-gray-light);
  --color-border: var(--color-dark-light);
  --color-accent: var(--color-primary);
  --color-highlight: var(--color-secondary);
  --color-highlight-bg: var(--color-secondary-transparent);
}



.light {
  --color-bg-primary: var(--color-white);
  --color-bg-secondary: var(--color-gray-light);
  --color-text-primary: var(--color-darkest);
  --color-text-secondary: var(--color-dark);
}

*{
  font-family: Outfit;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar{
  display: none;
}

.rich-text { font-size: 15px; color: #7A7B7D; }

.rich-text p { margin-bottom: 16px; }

.rich-text h1 { font-size: 36px; font-weight: 800; color: #252525; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }